body
{
	padding: 0;
	margin: 0 ;
	background-image: url('pattern.jpg');
	background-repeat: repeat;
	background-position:center; 
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

#container
{
	padding: 0;
	margin: 100px ;
	font-family: sans-serif;
}

#header
{
	margin: 0;
	padding: 40px;
	height:40px;
  text-align: center;
	background-image: url('haut.jpg');
	background-repeat: no-repeat;
	background-size: cover ;
	background-position:center; 
  color: white;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	height: 400px;
	float: left;
	padding: 20px;
  margin-bottom: 50px;
	background-color: white;
	border: 1px solid black;
	box-shadow: 5px 3px 3px ;
  border-radius: 10px 10px 10px;
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

div.element
{
    margin-right: 35px;
    margin-bottom: 50px;
	float: left;
	width: 31%;
	min-width: 400px;
	height: 500px;
	padding: 0%;
	background-color: white;
	border: 1px solid black;
	box-shadow: 5px 3px 3px;
  border-radius: 10px 10px 10px;
}

div.element img
{
	background-color : #fff;
	float: right;
	width: 90%;
	margin: 5%;
	border: 1px solid #000;
}

p
{
	margin: 20px;
	text-align: justify;
}

h2,h3
{
	text-align: center;
}

#footer
{
	clear: both;
    background-color: black;
    color: white;
	text-align: center;
	font-weight: bold;
    height: 150px;
	padding: 20px;

}

#ios,#windows,#android,#statistique {
    display: none;
}